<!DOCTYPE html>
<html>
    <head>
        <title>
            Jovian careers
        </title>
    </head>
    <body>
        <h1>Jovian Careers</h1>
        <img src = "{{url_for('static',filename='banner.avif')}}" alt="Our banner">
        <h2>About Jovian</h2>
        <p>At Jovian Careers, we believe that talent knows no boundaries. Our mission is to connect passionate learners, developers, and innovators with opportunities that help them grow and make an impact. Whether you are looking for your first role, planning a career transition, or aiming to sharpen your skills, Jovian Careers provides the right platform to explore, learn, and succeed.

           We collaborate with top companies, mentors, and industry experts to bring you resources, projects, and career opportunities tailored to your interests. Join our community of learners and professionals who are building meaningful careers in technology, data science, and beyond.</p>
       <h2>Job Openings</h2>
       <p>ToDo - Show the Jobs here</p>
       <button>Contact Us</button>
    </body>
</html>